In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df = pd.read_csv("../data/data2.csv")

In [5]:
import copy
new_df = copy.deepcopy(df)

In [7]:
signup = 2500
a = 0.1

    sign_up_month     가입자       잔존율    활동회원      결제비율  결제자수    ARPPU       매출
0               1   428.0  0.137850    59.0  0.423729    25   8840.0   221000
1               2   481.0  0.230769   111.0  0.351351    39   7718.0   301000
2               3   545.0  0.313761   171.0  0.333333    57   8702.0   496000
3               4   501.0  0.367265   184.0  0.266304    49  10102.0   495000
4               5   530.0  0.449057   238.0  0.243697    58   9345.0   542000
5               6   530.0  0.549057   291.0  0.223368    65   9185.0   597000
6               7   495.0  0.622222   308.0  0.227273    70   9186.0   643000
7               8   534.0  0.651685   348.0  0.206897    72   8806.0   634000
8               9   632.0  0.748418   473.0  0.209302    99  11869.0  1175000
9              10   737.0  0.871099   642.0  0.199377   128  10148.0  1299000
10             11  2274.0  0.933157  2122.0  0.170123   361   9773.0  3528000
11             12  2784.0  1.000000  2784.0  0.173491   483   8499.0  4105000